@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');/*
$font_title : 'Lato', sans-serif;
$font_subtitulo: "Gentium Book Basic script=all rev=2";
$font_parrafo: 'Quicksand', sans-serif;
*/

$primario : #39e1d0;
$secundario : #5b49ff;
$parrafo: #ccc;
$color-secundario: #5b49ff;

$white: #fff;
// $primario : #e55f00;
// $secundario : #004e90;

