@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/*
$font_title : 'Lato', sans-serif;
$font_subtitulo: "Gentium Book Basic script=all rev=2";
$font_parrafo: 'Quicksand', sans-serif;
*/
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
* {
  margin: 0;
  padding: 0; }

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #757575;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
  font-family: 'Kanit', sans-serif; }

p, h1, h2, h3, div, ul, li, div, section {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

li {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.d-flex {
  display: -ms-flexbox;
  display: flex; }

.d-flex_center {
  -ms-flex-pack: center;
  justify-content: center; }

.d-flex_left {
  -ms-flex-pack: left;
  justify-content: left; }

.d-flex_right {
  -ms-flex-pack: right;
  justify-content: right; }

.row-reset {
  margin-right: -15px;
  margin-left: -15px; }

.hidden {
  display: none; }

.divider {
  width: 100%;
  height: 2px;
  background: #ccc;
  margin: 25px 0; }

.color_sec {
  color: #5b49ff; }

.bg-blancoClaro {
  background: #F5F5F5; }

.btn-principal {
  background: #39e1d0;
  position: relative;
  padding: 10px 50px; }

.buttons .button {
  margin: 0 15px; }

.pd-r15 {
  padding-right: 12px; }

.pd-l15 {
  padding-left: 12px; }

.padding50TopBottom {
  padding-top: 50px;
  padding-bottom: 50px; }

.span-2 {
  font-weight: bold;
  display: block; }

/*DATE PICKER*/
.fecha {
  text-align: center;
  font-size: 18px;
  color: #ccc; }

.ui-datepicker.ui-widget.ui-widget-content {
  background: #5b49ff; }

.ui-datepicker-header.ui-widget-header {
  background: #5b49ff;
  border: none;
  color: white; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: none !important;
  background: white !important;
  font-weight: normal !important;
  color: red !important;
  border-radius: 4px !important; }

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid #5b49ff !important;
  background: #5b49ff !important;
  font-weight: normal !important;
  color: #ffffff !important; }

.ui-widget-content {
  border: 1px solid white !important;
  color: #ffffff !important; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: white !important;
  color: #5b49ff !important; }

/*  Fin date picker */
/*SELECT2*/
.chosen-container {
  width: 100% !important; }

.page-steps .form-group {
  margin-bottom: 36px; }

/*  Fin select2 */
input.form-control, select.custom-select {
  height: 50px;
  font-size: 18px;
  font-family: kanit;
  font-weight: 300;
  color: #ccc;
  -webkit-text-fill-color: #ccc; }

input.form-control:focus, .custom-select:focus {
  border-color: #39e1d024;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #39e1d024; }

section {
  padding: 60px 0 20px 0;
  min-height: 100vh; }

.page-indicator {
  background: url("../imagenes/evento3.jpg") no-repeat;
  height: 300px;
  width: 100%; }

.page-indicator:before {
  content: "";
  background: rgba(1, 46, 74, 0.75) url("../../../produccion/img/grid2.png") repeat;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0; }

.page-indicator .indicator__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: auto;
  padding-top: 120px;
  width: 90%; }

.page-indicator .box--item {
  position: relative; }

.page-indicator .box--item .indicator--left {
  display: -ms-flexbox;
  display: flex;
  background: #39e1d0;
  padding: 2px; }

.page-indicator .box--item .indicator--left li {
  background: #39e1d0;
  padding: 2px 5px; }

.page-indicator .box--item .indicator--left li a {
  color: white;
  font-size: 13px; }

.page-indicator .box--item .indicator--left li:nth-child(2) {
  background: #5b49ff; }

.page-indicator .box--item .indicator--right h3 {
  color: white;
  font-size: 24px; }

.page-indicator .box--item .indicator--right h4 {
  font-size: 16px;
  color: #BDBDBD; }

/***********************************************************
                      FOOTER
***********************************************************/
.footer {
  padding: 70px 0 0 0px;
  background: #263238f5;
  color: #fff;
  margin-top: 50px; }
  .footer__head {
    padding-bottom: 25px; }
    .footer__head--title {
      font-size: 24px;
      padding-bottom: 16px;
      color: #39e1d0; }
  .footer__body {
    padding-bottom: 32px; }
    .footer__body .footer--item {
      padding: 16px 0; }
    .footer__body i {
      font-size: 32px;
      color: #39e1d0; }
  .footer .footer-copyright {
    padding: 16px 0;
    background: #263238; }
    .footer .footer-copyright a {
      color: #39e1d0; }

/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/
/* Navbar section */
nav.container {
  padding: 0; }

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  left: 0;
  z-index: 99;
  transition: all 0.4s ease; }

.nav {
  background: #39e1d0; }
  .nav li {
    position: relative; }
  .nav li a {
    color: white;
    position: relative;
    line-height: 30px;
    padding: 5px 15px;
    text-transform: uppercase;
    opacity: 0.9;
    font-weight: bold;
    font-size: 12px; }
    .nav li a:before {
      content: '';
      display: block;
      height: 1px;
      width: 0%;
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      transition: all 0.5s ease-in-out;
      opacity: 0.8; }
    .nav li a:hover:before {
      width: 100%; }
    .nav li a:after {
      content: '';
      display: block;
      height: 1px;
      width: 0%;
      position: absolute;
      bottom: 0;
      right: 0;
      background: white;
      transition: all 0.5s ease-in-out;
      opacity: 0.8; }
      .nav li a:after:hover {
        width: 100%; }
    .nav li a:hover:after {
      width: 100%; }
  .nav .logo {
    height: 65px;
    float: left;
    width: auto; }
    .nav .logo img {
      height: 65px; }
  .nav .navlinks a {
    text-transform: uppercase; }
  .nav li.active a {
    background: #39e1d0;
    color: #4a4a4a;
    border-radius: 3px; }

.nav div.logo a {
  text-decoration: none;
  font-size: 2.5rem; }

.nav div.main_list {
  height: 65px;
  float: right; }

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 1rem;
  padding-left: 1rem; }

.nav div.main_list ul li a {
  text-decoration: none;
  line-height: 65px;
  font-size: 16px; }

/* Home section */
.home {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
  background-position: center top;
  background-size: cover; }

.navTrigger {
  display: none; }

/* Media qurey section */
@media screen and (max-width: 768px) {
  .navTrigger {
    display: block; }
  .nav div.logo {
    margin-left: 15px; }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden; }
  .nav div.show_list {
    height: auto;
    display: none; }
  .nav div.main_list ul {
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    /*same background color of navbar*/
    background-position: center top; }
  .nav div.main_list ul li {
    width: 100%;
    text-align: right; }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 3rem; }
  .nav div.media_button {
    display: block; } }

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0; }

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px; }

.navTrigger i:nth-child(1) {
  animation: outT 0.8s backwards;
  animation-direction: reverse; }

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  animation: outM 0.8s backwards;
  animation-direction: reverse; }

.navTrigger i:nth-child(3) {
  animation: outBtm 0.8s backwards;
  animation-direction: reverse; }

.navTrigger.active i:nth-child(1) {
  animation: inT 0.8s forwards; }

.navTrigger.active i:nth-child(2) {
  animation: inM 0.8s forwards; }

.navTrigger.active i:nth-child(3) {
  animation: inBtm 0.8s forwards; }

@keyframes inM {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@keyframes outM {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(9px) rotate(0deg); }
  100% {
    transform: translateY(9px) rotate(135deg); } }

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(9px) rotate(0deg); }
  100% {
    transform: translateY(9px) rotate(135deg); } }

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(-9px) rotate(0deg); }
  100% {
    transform: translateY(-9px) rotate(135deg); } }

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(-9px) rotate(0deg); }
  100% {
    transform: translateY(-9px) rotate(135deg); } }

.nav.nav-fix {
  padding: 0;
  background-color: #39e1d0; }

.myH2 {
  text-align: center;
  font-size: 4rem; }

.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px; }

@media all and (max-width: 700px) {
  .myP {
    padding: 2%; } }

/**/
.navEsp .Fright {
  font-size: 18px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.navEsp .Fright img {
  max-width: 30px;
  position: absolute;
  left: 10px;
  top: 5px;
  animation: expander linear 0.8s;
  animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.navEsp .Fright {
  position: absolute;
  right: 20px;
  padding-left: 45px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  background: #70BE42;
  border-radius: 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.58);
  top: 25px; }

.navEsp .Fleft {
  float: left;
  padding-left: 30px;
  padding-right: 30px; }

.navEsp img {
  max-width: 150px;
  max-height: 75px; }

.navEsp {
  position: absolute;
  width: 100%;
  color: white;
  /* background: red; */
  bottom: -75px;
  height: 75px;
  /* left: 5%; */ }

.navEsp {
  position: fixed;
  width: 100%;
  color: white;
  /* background: red; */
  bottom: 0px;
  height: 75px;
  /* left: 5%; */
  z-index: 15; }

/*    GENERALES   */
.page-steps {
  width: 100%;
  min-height: 100vh;
  padding: 30px 0; }

.page-steps .step-content {
  margin: 0 auto; }

.page-steps .step-content .step-content__control {
  text-align: center;
  margin-bottom: 36px; }

.page-steps .step-content .step-content__control .step {
  display: inline-block;
  margin: 5px;
  padding: 12px;
  background: white;
  color: #39e1d0;
  border: 1px solid #39e1d0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-weight: bold; }

.page-steps .step-content .step-content__control .step.activestep {
  background: #39e1d0;
  color: white; }

.page-steps .step-content .step-content__body {
  min-height: 125px;
  transition: height 0.5s;
  position: relative; }

.page-steps .step-content .step-content__body fieldset {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 0.25s, opacity 0.25s;
  z-index: 2;
  border: none;
  padding: 0; }

.page-steps .step-content .step-content__body fieldset input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid black; }

.page-steps .step-content .step-content__body fieldset.hidden {
  -ms-transform: translate(0, -50px);
  transform: translate(0, -50px);
  opacity: 0;
  z-index: 1; }

.page-steps .step-content .step-content__body .buttons {
  z-index: 3;
  width: 100%;
  text-align: center; }

.buttons {
  margin-top: 50px; }
  .buttons .button {
    display: inline-block; }

.page-steps .step-content .step-content__body .buttons .button {
  display: inline-block;
  background: #5b49ff;
  color: #fff;
  border: 1px solid #5b49ff;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 50px; }

.page-steps .step-content .step-content__body .buttons .button.back {
  background: #fff;
  color: #39e1d0;
  border: 1px solid #39e1d0;
  padding: 10px 50px; }

.page-steps .step-content .step-content__body .buttons .button:hover {
  background: #39e1d0;
  color: white; }

.page-steps .step-content .step-content__body .buttons .button.back, .page-steps .step-content .step-content__body .buttons .button.send {
  display: none; }

/******************************/
.panel--title {
  font-family: kanit;
  font-size: 18px;
  padding-bottom: 15px; }

.panel .aux-ofi {
  padding-bottom: 5px; }

.content--title {
  font-size: 1.5rem;
  color: #5b49ff;
  font-family: kanit; }

.panel-content {
  background: #F5F5F5;
  padding: 24px 0;
  border-radius: 5px; }

.form-check {
  display: inline-block; }

.span_check {
  font-family: kanit;
  font-size: 1rem; }

.text-mini {
  font-size: 12px;
  font-family: kanit;
  padding-top: 16px; }

.box-img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

/*    STEPS 1    */
/*    STEPS 2   */
.step2-central {
  padding-top: 24px;
  border-left: 1px solid #c1c1c16b;
  border-right: 1px solid  #c1c1c16b; }
  .step2-central__fila {
    margin-bottom: 12px; }

.panel--mapa {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.div2 .div2__content {
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 5px; }
  .div2 .div2__content .panel {
    padding: 0 16px; }

/*    STEPS 3   */
.reserva {
  position: relative;
  background: #F5F5F5;
  padding: 24px 0; }
  .reserva .box-date {
    padding: 16px 0; }

.box-label-check {
  display: block; }

.styled-checkbox {
  position: absolute;
  opacity: 0; }

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0; }

.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white; }

/*      SELECCIONADO      */
.check-seleccionado:hover + label:before {
  background: blue; }

.check-seleccionado:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); }

.check-seleccionado:checked + label:before {
  background: blue; }

/*      BLOQUEADO      */
.check-bloqueado:hover + label:before {
  background: #b8b8b8; }

.check-bloqueado:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); }

.check-bloqueado:checked + label:before {
  background: #b8b8b8; }

/*      OCUPADO      */
.check-ocupado:hover + label:before {
  background: #f35429; }

.check-ocupado:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); }

.check-ocupado:checked + label:before {
  background: #f35429; }

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto; }

.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd; }

.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/*    STEP 4    */
.reserva-paquete {
  position: relative;
  padding: 24px 96px;
  background: #F5F5F5; }

.element {
  z-index: 9;
  color: white;
  position: relative; }

/*    MAIN  SLIDER    */
.slider {
  position: relative; }
  .slider__content {
    background-image: url("../images/resources/a2.jpg");
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: cover;
    height: 100vh;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center; }
  .slider:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(1, 46, 74, 0.75);
    top: 0;
    left: 0; }

#typed {
  position: relative;
  z-index: 9;
  color: white;
  text-transform: uppercase; }

/*    FIN SLIDER    */
/*
===========================================
  17. servicios Style
===========================================
*/
.servicios {
  position: relative; }

.servicios img {
  width: 100%; }

.servicios-item {
  position: relative;
  transition: all 500ms ease;
  margin-bottom: 30px; }

.servicios-item .img-box {
  position: relative;
  transition: all 500ms ease; }

.servicios-item .servicios-content {
  position: relative;
  padding: 48px 0px 22px 28px;
  border: 1px solid #e7e7e7;
  border-top: none;
  background: white;
  transition: all 500ms ease; }

.servicios-box {
  position: absolute;
  right: 15px;
  top: -40px;
  color: white;
  width: 80px;
  height: 80px;
  line-height: 110px;
  background: #39e1d0;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.servicios-item .servicios-content i:before {
  position: relative;
  margin: 0;
  display: block;
  left: 15px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 40px; }

.servicios-item h4 {
  margin-bottom: 8px;
  color: #39e1d0;
  font-size: 20px;
  font-weight: 600; }

.servicios-item .overlay:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 50%;
  bottom: 0;
  background: #0000006e;
  transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -webkit-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease; }

.servicios-item .overlay-2:before {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  background: #00000033;
  transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -webkit-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease; }

.servicios-item:hover .overlay-2:before {
  left: 100%;
  transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -webkit-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease; }

.servicios-item:hover .overlay:before {
  right: 100%;
  transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -webkit-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease; }

.servicios-2 {
  position: relative;
  background-size: cover; }

.servicios-item-2 {
  overflow: hidden;
  position: relative;
  transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -webkit-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  background: #39e1d0; }

.seccion-title {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 10px; }

.seccion-title h2 {
  position: relative;
  font-size: 38px;
  font-family: 'Hind', sans-serif;
  text-transform: capitalize;
  font-weight: 700; }

.seccion-title h3 {
  position: relative;
  font-size: 28px;
  text-transform: capitalize; }

.seccion-title h4 {
  position: relative;
  font-size: 20px;
  text-transform: capitalize; }

.seccion-title span {
  color: #39e1d0; }

.seccion-title p {
  max-width: 650px; }

.scroll-top {
  width: 50px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  display: none;
  color: #fff;
  text-align: center;
  background: #39e1d0; }

.scroll-top span:before {
  font-size: 27px; }

.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, transparent 80%); }

/*****************************************************
            BLOG HOME
*****************************************************/
/*News Style One*/
/*side-bar-blog*/
.blog-autos.style-2 {
  padding: 100px 0px 100px; }

.blog-sidebar {
  position: relative; }

.blog-autos__item {
  position: relative;
  margin-bottom: 40px; }

.blog-autos__item .inner-box {
  position: relative; }

.blog-autos__item .inner-box .image {
  position: relative;
  margin-bottom: -6px; }

.blog-autos__item .inner-box .image img {
  position: relative;
  width: 100%;
  display: block; }

.blog-autos__item .inner-box .image .post-time {
  position: absolute;
  left: 30px;
  bottom: -10px;
  color: #ffffff;
  font-size: 15px;
  z-index: 1;
  padding: 6px 18px 4px;
  display: inline-block;
  background-color: #39e1d0; }

.blog-autos__item .inner-box .lower-content {
  position: relative;
  padding: 40px 15px 20px 35px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

.blog-autos__item .inner-box .lower-content h3 {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  color: #13192d;
  margin-bottom: 15px;
  line-height: 1.4em; }

.blog-autos__item .inner-box .lower-content h3 a {
  color: #13192d;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

.blog-autos__item .inner-box .lower-content h3 a:hover {
  color: #39e1d0; }

.blog-autos__item .inner-box .lower-content .text {
  position: relative;
  font-size: 16px;
  line-height: 1.6em;
  margin-top: -8px;
  margin-bottom: 15px;
  color: rgba(7, 16, 45, 0.7); }

.blog-autos__item .inner-box .lower-content .text p {
  position: relative;
  font-size: 16px;
  line-height: 1.6em;
  margin-bottom: 15px;
  color: rgba(7, 16, 45, 0.6); }

.blog-autos__item .inner-box .lower-content .more-detail {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  color: #13192d;
  text-transform: capitalize;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

.blog-autos__item .inner-box .lower-content .more-detail span {
  position: relative;
  top: 1px; }

.blog-autos__item .inner-box .lower-content .more-detail .icon {
  position: relative;
  top: 1px;
  margin-left: 5px; }

.blog-autos__item .inner-box .lower-content .more-detail:hover {
  color: #39e1d0; }

.blog-autos__item .inner-box:hover .lower-content {
  border: 1px solid #39e1d0;
  box-shadow: 0px 4px 20px 0px white; }

.blog-autos__item .post-meta {
  position: relative; }

.blog-autos__item .post-meta li {
  display: inline-block; }

.blog-autos__item .post-meta li a {
  position: relative;
  color: #5b49ff;
  font-size: 15px;
  top: 2px;
  margin-right: 10px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif; }

/*************************************************************
                PAARALLAX
*************************************************************/
.counter-section .fact-section {
  position: relative;
  padding: 130px 0px 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom; }

.counter-section .fact-section:before {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.69); }

.fact-section .title-column {
  position: relative;
  margin-bottom: 30px; }

.fact-section .title-column .title-inner {
  position: relative;
  min-height: 180px; }

.fact-section .title-column .title-inner .number {
  position: absolute;
  color: #39e1d0;
  font-size: 80px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: inline-block; }

.fact-section .title-column .title-inner .number:before {
  position: absolute;
  content: '';
  left: 0px;
  bottom: 16px;
  width: 150px;
  height: 2px;
  background-color: #ffffff; }

.fact-section .title-column .title-inner .number:after {
  position: absolute;
  content: '';
  left: 0px;
  bottom: 9px;
  width: 214px;
  height: 2px;
  background-color: #ffffff; }

.fact-section .title-column .title-inner .text {
  position: relative;
  color: #ffffff;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  padding-top: 111px;
  display: inline-block; }

.fact-counter {
  position: relative; }

.fact-counter .column {
  position: relative;
  z-index: 5;
  margin-bottom: 40px; }

.fact-counter .column .inner {
  position: relative;
  text-align: center;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease; }

.fact-counter .count-outer {
  position: relative;
  font-size: 36px;
  line-height: 1em;
  font-weight: 500;
  margin: 0px 0px; }

.fact-counter .count-outer .count-text {
  position: relative;
  font-weight: 600;
  color: #ffffff;
  font-size: 60px;
  font-family: 'Poppins', sans-serif; }

.fact-counter .count-outer .count-text.style-2 {
  font-size: 80px; }

.fact-counter .column .counter-title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  color: #39e1d0;
  margin-top: 8px;
  font-family: 'Poppins', sans-serif; }

.fact-counter .column .counter-title.style-2 {
  font-size: 22px; }

.title__page .title__page--resalt {
  color: #5b49ff;
  font-weight: 700; }

.contactanos h4 {
  color: #062b4e;
  font-weight: 700;
  position: relative;
  margin-left: 10px; }

.contactanos h4:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  bottom: 0;
  left: 0;
  border: 2px solid #5b49ff; }

.contactanos form input {
  margin-top: 10px; }

.contactanos .contactanos__item span {
  margin-left: 15px;
  color: #374146;
  font-weight: 700;
  font-style: capitalize; }

.contactanos .contactanos__item span i {
  margin-right: 15px;
  color: #5b49ff; }

@media (min-width: 768px) {
  .panel-content {
    padding: 24px 24px; }
  .footer__head--title {
    font-size: 30px; } }

@media (min-width: 992px) {
  .nav {
    background: #edeeee29; }
  nav.container {
    padding: 0 15px; }
  .nav div.main_list ul li a {
    padding: 20px; }
  .slider__content {
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 7.5%; }
  .panel-content {
    padding: 24px; }
  .page-indicator .indicator__box {
    padding-top: 120px; }
  .page-indicator .indicator__box {
    padding-top: 190px; }
  .footer__head--title {
    font-size: 32px; } }

@media (min-width: 1200px) {
  .panel-content {
    padding: 32px 28px 12px 28px; } }
